<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">

    <div class="slimscroll-menu" id="remove-scroll">
        <!-- LOGO -->
        <div class="topbar-left">
            <a href="index.html" class="logo">
                <span>SkyCMS3.0</span>
                <i>Sky</i>
            </a>
        </div>
        <!--- Sidemenu -->
        <div id="sidebar-menu" style="padding-top:70px;">
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Navigation</li>
                {volist name="sidebar" id="vo"}
                {php}$module = $vo['module']? $vo['module'].'/':'admin/';{/php}
                <li class="{$vo['module']?:'admin/'.$vo['src']}" style="background-color:{$vo.color}">
                    <a {if condition="empty($vo['_child'])"} href="{:url($module.$vo['src'],$vo['param'])}" onclick="return location_frame(this)" {else/} href="javascript:"{/if}>
                    {$vo.thumbnail|raw}
                    <span class="title">{$vo.title}</span>
                    {notempty name="vo._child" }
                    <span class="menu-arrow"></span>
                    {/notempty}
                    </a>
                    {notempty name="vo._child" }
                    <ul class="nav-second-level"  aria-expanded="false">
                        {volist name="vo._child" id="item" }
                        <li class=""><a href="{:url($module.$item['src'],$item['param']) }" onclick="return location_frame(this)" >{$item.title}</a></li>
                        {/volist}
                    </ul>
                    {/notempty}
                </li>
                {/volist}
            </ul>
        </div>
        <!-- Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->